<!-- portfolio section: hidden on default, opened after clicking on "Latests Work" button -->
<div class="container clearfix portfolio-wrapper animated">

	<!-- tags -->
	<ul class="tags grid_12">
	    <li class="inline-block tag"
	    	  data-ng-repeat="tag in works.portfolioItems.tags"><i class="icon-tag icon"></i><a class="filter btn smooth" ui-sref="works.tag({ tag: tag })" href data-ng-click="works.portfolioFilter(tag)">{{ tag }}</a>
	    </li>
	</ul>

	<!-- portfolio items -->
	<div id="Container" class="clearfix flipInY">

		<!-- portfolio grid thumbnails -->
		<div class="grid_12">
			<div id="{{ work.CSSid }}"
					 class="{{ work.classThumb }}"
					 data-ng-repeat="work in works.filteredData"
					 data-ng-click="works.showPortfolioItem(work.CSSid); $event.preventDefault();"><!--
				 --><a ui-sref="works.single({ CSSid: work.CSSid })"><!--
					 --><img ng-src="assets/images/{{ work.mainThumbnail }}" alt="{{ work.titleThumb }}"><!--
					 --><span class="text-hide">{{ work.titleThumb }}</span><!--
					 --><!-- INSIDE INFO --><!--
					 --><div class="info smooth"><!--
						 --><h4>{{ work.titleThumb }}</h4><!--
						 --><hr><!--
						 --><h4>{{ work.type }}</h4><!--
					 --></div><!--
				 --></a><!--
		 --></div><!--
	 --></div><!-- .grid_12 END -->
		<div class="clear"></div>

		<!-- portfolio description -->
		<div class="portfolio-info-wrapper clearfix grid_12 flipInY">

			<!-- item description -->
			<div class="{{ project.CSSid }} portfolio-info clearfix" data-ng-repeat="project in works.portfolioItems.projects.projectItems" data-ng-if="project.CSSid === works.itemTitleToShow">
				<!-- left sidebar -->
				<div class="portfolio-info-left">
				    <h2 class="text-left block">{{ project.titleH2 }}</h2>
				    <h3>Description</h3>
				    <p data-ng-repeat="desc in project.description" ng-bind-html="desc">><span data-ng-if="project.description.length !== 1">&#8226;&nbsp;</span></p>

				    <!-- if there is no 'Features' part in projectItems array hide this -->
				    <h3 data-ng-if="works.portfolioItems.projects.projectItems[$index].features.length > 0">Features</h3>

				    <p data-ng-repeat="feature in project.features"><span data-ng-if="project.features.length !== 1">&#8226;&nbsp;</span>{{ feature }}</p>
				</div>


				<!-- right sidebar -->
				<div class="portfolio-info-right boxsizing">
					<!-- icons -->
					<ul>
						<li data-ng-if="project.livePreview"><i class="icon-eye icon"></i><a target="_blank" ng-href="{{ project.livePreview }}">Live Preview</a></li>
						<li data-ng-if="project.githubLink"><i class="icon-github-alt icon"></i><a target="_blank" ng-href="{{ project.githubLink }}">github.com</a></li>
						<li><i class="icon-clock icon"></i>{{ project.projectDate }}</li>
						<li><i class="icon-tag icon"></i><span class="tag" ng-repeat="tag in project.tags">{{ tag }}<span ng-if=" !$last ">,</span></span></li>
					</ul>

					<!-- gallery -->
					<div class="gallery">
						<!-- If there is no 'Gallery' for actual project in projectItems array hide this -->
						<h3 data-ng-if="works.portfolioItems.projects.projectItems[$index].thumbs.length > 1">Gallery</h3>
						<ul class="magnificPopup">
							<li class="grid_50 clearfix" ng-repeat="img in project.images">
								<!-- magnific popup directive -->
								<a ng-href="assets/images/gallery/{{ img }}" >
									<img alt="{{ project.CSSid }} thumb" ng-src="assets/images/gallery/{{ project.thumbs[$index] }}">
								</a>
							</li>
						</ul>
					</div><!-- .gallery -->
				</div><!-- .portfolio-info-right -->
			</div><!-- .pivodamian -->
		</div><!-- .portfolio-info-wrapper -->
	</div><!-- #Container -->
</div><!-- .portfolio-wrapper -->