<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-csp="" ng-app="jozefButko"> <!--<![endif]-->

	<head>
		<!--
		/**
		*
		* TITLE: Jozef Butko: Resume of a front-end web developer
		* AUTHOR: Jozef Butko
		* URL: www.jozefbutko.com
		* UPDATED: May 2015
		*
		*/
		-->
		<base href="/">
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Jozef Butko: Resumé of A front-end web developer</title>
		<meta name="description" content="Curriculum Vitae of A front-end web developer">

		<!-- mobile meta -->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="apple-touch-icon" href="assets/images/favicon/apple-icon-touch.png">
		<link rel="icon" href="assets/images/favicon/favicon.png">

		<meta name="msapplication-TileColor" content="#f01d4f">

		<!-- CSS -->
		<!-- build:css css/style.min.css -->
		<link rel="stylesheet" type="text/css" href="styles/style.css" />
		<!-- endbuild -->

	</head>

	<body class="main-wrapper">

		<!--[if lt IE 8]>
		    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Navigation -->
		<!-- <main-nav></main-nav> -->

		<div class="container body-wrapper relative clearfix">
			<!-- resume big heading -->
		  <h2 class="resume">JozefButko</h2>

		    <!-- navigation -->
			<nav class="main-nav">
			    <ul>
			    	<li ui-sref-active="active"><a class="btn" ui-sref="home">Home</a></li><!--
		         --><li ui-sref-active="active"><a class="btn" ui-sref="works">Latest Works</a></li><!--
		         --><li ui-sref-active="active"><a class="btn blog-btn" ui-sref="blog">Blog</a></li>
			    </ul>
			</nav>

			<!-- spinner -->
			<div class="spinner" data-ng-if="$root.showSpinner">
			    <img src="assets/images/spinner.gif" height="32" width="32" alt="spinner">
			</div>

		    <div ui-view class="ngViewContainer"></div>
		</div>


		<!-- FOOTER -->
		<footer class="container clearfix" ng-cloak>
		    <span class="grid_12 center text-center copyright">
				<span class="copy">&copy;</span> Copyright {{ $root.actualYear }} Jozef Butko.
				Made with AngularJS, HTML, SASS, Gulp <span class="amp">&amp;</span> <span class="heart">&hearts;</span>
				<scroll-top></scroll-top>
			</span>
		</footer>

	</body>

	<!-- Angular external libraries & Bower dependecies -->
	<!-- build:angularlibs js/angularlibs.js -->
	<!-- bower:js -->
	<script src="vendors/angular/angular.js"></script>
	<script src="vendors/angular-sanitize/angular-sanitize.js"></script>
	<script src="vendors/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="vendors/angular-route/angular-route.js"></script>
	<script src="vendors/lodash/lodash.js"></script>
	<script src="vendors/jquery/dist/jquery.js"></script>
	<script src="vendors/angular-animate/angular-animate.js"></script>
	<script src="vendors/magnific-popup/dist/jquery.magnific-popup.js"></script>
	<!-- endinject -->
	<!-- endbuild -->

	<!-- Angular components -->
	<!-- build:appcomponents js/appcomponents.js -->
	<!-- inject:js -->
	<script src="app.js"></script>
	<script src="components/works/works.controller.js"></script>
	<script src="components/services/queryService.service.js"></script>
	<script src="components/services/LocalStorage.service.js"></script>
	<script src="components/services/fetch.service.js"></script>
	<script src="components/home/home.controller.js"></script>
	<script src="components/filters/sanitize.html.filter.js"></script>
	<script src="components/directives/scrollTop.directive.js"></script>
	<script src="components/directives/responsive.nav.directive.js"></script>
	<script src="components/directives/main.nav.directive.js"></script>
	<script src="components/directives/magnific.popup.directive.js"></script>
	<script src="components/blog/blog.controller.js"></script>
	<script src="core/routing.js"></script>
	<script src="app/factory.js"></script>
	<script src="app/controller.js"></script>
	<script src="app/config.js"></script>
	<!-- endinject -->
	<!-- endbuild -->

	<!-- Templates from $templateCache -->
	<!-- build:templates -->
	<!-- endbuild -->

	<!-- AMPERSAND GOOGLE FONT -->
	<link href='http://fonts.googleapis.com/css?family=Headland+One' rel='stylesheet' type='text/css'>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.jozefbutko.com/analytics.js','ga');

		ga('create', 'UA-47339192-1');
		ga('send', 'pageview');
	</script>

</html>
