/******************************************************************

Helpers

******************************************************************/

.block {
  display: block;
}

.italic {
    font-style:italic;
}

.hidden {
    display:none !important;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

.text-justify {
  text-align: justify;
}

.overflow-fix {
  overflow: hidden;
}

.nounderline {
  text-decoration: none !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lowercase {
  text-transform: lowercase !important;
}

small {
    font-size: 80%;
}

strong {
    font-weight: 600;
}

.container {
    position: relative;
}

.image-circle {
    border-radius: 50%;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

// HW accelerator
.hw {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

.last {
  margin-right: 0 !important;
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.text-hide {
  color: transparent;
  font-size: 0;
  text-shadow: none;
  vertical-align: middle;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

.flright {
  float: right !important;
}

.flleft {
  float: left;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

.center {
    margin: 0 auto;
}

.smooth {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.boxsizing {
  box-sizing: border-box;
}

/* Button */
.btn {
  background: #757575;
  padding: 6px 10px;
  color: #FCFCD9;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.no-bullets {
  list-style: none;
}

/* http://mattvarone.com/web-design/css-reusable-classes/ */
.clear {
  clear: both;
}

.center {
  margin: 0 auto;
}


.filter.btn {
  padding: 6px;
}

/* Grid Helpers */
.grid_50 {
  width: 49%;
  display: inline-block;
}

/* Animations */
/* If we enter home page (/) or /works */
.ngViewContainer.ng-enter,
.ngViewContainer.ng-leave .portfolio-info.ng-enter,
.portfolio-info.ng-leave {
  transition: all 250ms ease 0ms, opacity 250ms linear;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

.ngViewContainer.ng-enter.ng-enter-active,
.ngViewContainer.ng-leave,
.portfolio-info.ng-enter.ng-enter-active,
.portfolio-info.ng-leave {
  opacity: 1;
}

.ngViewContainer.ng-leave.ng-leave-active,
.ngViewContainer.ng-enter,
.portfolio-info.ng-leave.ng-leave-active,
.portfolio-info.ng-enter {
  opacity: 0;
}

/* Using The Best Ampersand Available
   http://css-tricks.com/using-the-best-ampersand-available/ */
span.amp,
span.copy {
  font-family: "Headland One", Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 115%;
  font-weight: 400;
  vertical-align: middle;
}



