/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-Creativio230x230 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8693px -1240px;
  width: 230px;
  height: 230px;
}
.icon-Kolky230x230 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8693px -1470px;
  width: 230px;
  height: 230px;
}
.icon-Minima230x230 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8693px -1700px;
  width: 230px;
  height: 230px;
}
.icon-Predators230x230 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8693px -780px;
  width: 230px;
  height: 230px;
}
.icon-angularjs-thumb {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -2154px;
  width: 184px;
  height: 184px;
}
.icon-concrete-wall {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -5000px;
  width: 400px;
  height: 299px;
}
.icon-damian {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -5299px;
  width: 340px;
  height: 340px;
}
.icon-apple-icon-touch {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -2590px;
  width: 128px;
  height: 128px;
}
.icon-favicon {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -2718px;
  width: 128px;
  height: 128px;
}
.icon-win8-tile-icon {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -2846px;
  width: 128px;
  height: 128px;
}
.icon-02_preview2 {
  background-image: url(../assets/images/sprite.png);
  background-position: 0px -4811px;
  width: 791px;
  height: 1917px;
}
.icon-04_preview4 {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px -945px;
  width: 791px;
  height: 1355px;
}
.icon-10_closeup {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px -5663px;
  width: 791px;
  height: 1045px;
}
.icon-creativio1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px 0px;
  width: 1439px;
  height: 945px;
}
.icon-creativio2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -2952px -4811px;
  width: 1363px;
  height: 1045px;
}
.icon-creativio3 {
  background-image: url(../assets/images/sprite.png);
  background-position: -7675px -945px;
  width: 632px;
  height: 903px;
}
.icon-creativio4 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px 0px;
  width: 605px;
  height: 780px;
}
.icon-creativio5 {
  background-image: url(../assets/images/sprite.png);
  background-position: -7675px -5663px;
  width: 629px;
  height: 763px;
}
.icon-creativio6 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -3997px;
  width: 403px;
  height: 1003px;
}
.icon-creativio7 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -2995px;
  width: 406px;
  height: 1002px;
}
.icon-creativio8 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -1970px;
  width: 406px;
  height: 1025px;
}
.icon-detail {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px -2300px;
  width: 1089px;
  height: 933px;
}
.icon-full-site {
  background-image: url(../assets/images/sprite.png);
  background-position: -4749px -1688px;
  width: 1583px;
  height: 1036px;
}
.icon-ipad {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px -4655px;
  width: 877px;
  height: 1008px;
}
.icon-iphone {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -780px;
  width: 370px;
  height: 1190px;
}
.icon-kolky1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -3956px -5858px;
  width: 776px;
  height: 501px;
}
.icon-kolky1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -4749px -2724px;
  width: 1552px;
  height: 1003px;
}
.icon-kolky2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -3182px -5858px;
  width: 774px;
  height: 523px;
}
.icon-kolky2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1583px -2091px;
  width: 1549px;
  height: 1046px;
}
.icon-kolky3 {
  background-image: url(../assets/images/sprite.png);
  background-position: -2004px -6728px;
  width: 668px;
  height: 972px;
}
.icon-kolky4 {
  background-image: url(../assets/images/sprite.png);
  background-position: -5928px -3768px;
  width: 668px;
  height: 975px;
}
.icon-lambda-one-column {
  background-image: url(../assets/images/sprite.png);
  background-position: -791px -4811px;
  width: 791px;
  height: 1883px;
}
.icon-lambda-one-column {
  background-image: url(../assets/images/sprite.png);
  background-position: 0px 0px;
  width: 1583px;
  height: 3768px;
}
.icon-lambda-preview-cm {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px -3883px;
  width: 1160px;
  height: 772px;
}
.icon-mia01 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1583px 0px;
  width: 1583px;
  height: 2091px;
}
.icon-mia01_tn {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -6398px;
  width: 75px;
  height: 100px;
}
.icon-mia02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -3166px -1690px;
  width: 1583px;
  height: 1688px;
}
.icon-mia02_tn {
  background-image: url(../assets/images/sprite.png);
  background-position: -8509px -6298px;
  width: 93px;
  height: 100px;
}
.icon-mia03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -3166px 0px;
  width: 1583px;
  height: 1690px;
}
.icon-mia03_tn {
  background-image: url(../assets/images/sprite.png);
  background-position: -8416px -6298px;
  width: 93px;
  height: 100px;
}
.icon-mia04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -4749px 0px;
  width: 1583px;
  height: 1688px;
}
.icon-mia04_tn {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -6298px;
  width: 93px;
  height: 100px;
}
.icon-mia05 {
  background-image: url(../assets/images/sprite.png);
  background-position: -6332px 0px;
  width: 552px;
  height: 3080px;
}
.icon-mia05_tn {
  background-image: url(../assets/images/sprite.png);
  background-position: -8857px -2338px;
  width: 17px;
  height: 100px;
}
.icon-minima01 {
  background-image: url(../assets/images/sprite.png);
  background-position: -4483px -3768px;
  width: 1445px;
  height: 1007px;
}
.icon-minima02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1600px -3768px;
  width: 1447px;
  height: 1036px;
}
.icon-minima03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1582px -4811px;
  width: 1370px;
  height: 1047px;
}
.icon-minima04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -668px -6728px;
  width: 668px;
  height: 1029px;
}
.icon-minima05 {
  background-image: url(../assets/images/sprite.png);
  background-position: 0px -6728px;
  width: 668px;
  height: 1031px;
}
.icon-minima06 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1336px -6728px;
  width: 668px;
  height: 1029px;
}
.icon-minima07 {
  background-image: url(../assets/images/sprite.png);
  background-position: -2672px -6728px;
  width: 668px;
  height: 764px;
}
.icon-predators1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -3047px -3768px;
  width: 1436px;
  height: 1019px;
}
.icon-predators2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -4315px -4811px;
  width: 1439px;
  height: 966px;
}
.icon-predators3 {
  background-image: url(../assets/images/sprite.png);
  background-position: -6884px -3233px;
  width: 1438px;
  height: 650px;
}
.icon-sccd01 {
  background-image: url(../assets/images/sprite.png);
  background-position: 0px -3768px;
  width: 1600px;
  height: 1043px;
}
.icon-sccd02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1582px -5858px;
  width: 1600px;
  height: 677px;
}
.icon-sccd03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -5754px -4811px;
  width: 985px;
  height: 646px;
}
.icon-sccd04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -1583px -3137px;
  width: 985px;
  height: 570px;
}
.icon-thumbs_02_preview2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8563px -6208px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_04_preview4 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8443px -6208px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_10_closeup {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -6208px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8443px -6028px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8563px -6028px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio3 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8683px -6028px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio4 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8803px -6028px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio5 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -6118px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio6 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8443px -6118px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio7 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8563px -6118px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_creativio8 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8683px -6118px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_detail {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -2995px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_full-site {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3085px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_ipad {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3175px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_iphone {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3265px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_kolky1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3355px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_kolky2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3445px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_kolky3 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3535px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_kolky4 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3625px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_lambda-one-column {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3715px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_lambda-preview-cm {
  background-image: url(../assets/images/sprite.png);
  background-position: -8803px -6118px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_mia01 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8398px -6398px;
  width: 75px;
  height: 100px;
}
.icon-thumbs_mia01 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3805px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_mia02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8602px -6298px;
  width: 93px;
  height: 100px;
}
.icon-thumbs_mia02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -3895px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_mia03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8695px -6298px;
  width: 93px;
  height: 100px;
}
.icon-thumbs_mia03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4397px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_mia04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8788px -6298px;
  width: 93px;
  height: 100px;
}
.icon-thumbs_mia04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4487px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_mia05 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8874px -2338px;
  width: 17px;
  height: 100px;
}
.icon-thumbs_mia05 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4577px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima01 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4667px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4757px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4847px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8723px -5000px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima05 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8723px -5090px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima06 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8723px -5180px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_minima07 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8663px -5539px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_predators1 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8783px -5539px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_predators2 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -5938px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_predators3 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8443px -5938px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_sccd01 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8563px -5938px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_sccd02 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8683px -5938px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_sccd03 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8803px -5938px;
  width: 120px;
  height: 90px;
}
.icon-thumbs_sccd04 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -6028px;
  width: 120px;
  height: 90px;
}
.icon-jquery-fullsizable {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -2338px;
  width: 128px;
  height: 252px;
}
.icon-lambda {
  background-image: url(../assets/images/sprite.png);
  background-position: -8622px -5639px;
  width: 270px;
  height: 270px;
}
.icon-me-200x200 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -3997px;
  width: 200px;
  height: 200px;
}
.icon-me-200x200 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8726px -4197px;
  width: 200px;
  height: 200px;
}
.icon-mia-thumb {
  background-image: url(../assets/images/sprite.png);
  background-position: -8663px -5299px;
  width: 240px;
  height: 240px;
}
.icon-no-preview-thumb {
  background-image: url(../assets/images/sprite.png);
  background-position: -8729px -1970px;
  width: 184px;
  height: 184px;
}
.icon-sccd230x230 {
  background-image: url(../assets/images/sprite.png);
  background-position: -8693px -1010px;
  width: 230px;
  height: 230px;
}
.icon-stickynavbar {
  background-image: url(../assets/images/sprite.png);
  background-position: -8323px -5639px;
  width: 299px;
  height: 299px;
}
