/******************************************************************

Typography

******************************************************************/

// Web fonts definitions goes here as well


/* ===============================
     fonts
   =============================== */
$font: "sanchezregular", Helvetica, Arial, sans-serif;
$font-heading: "montserratbold", Helvetica, Arial, sans-serif;
$font-italic:  Cambria, Times New Roman, Times, serif;
$font-bold: Helvetica, Arial, sans-serif;
$font-semibold: Helvetica, Arial, sans-serif;
$font-extrabold: Helvetica, Arial, sans-serif;
$font-extralightitalic: Helvetica, Arial, sans-serif;
$font-color: #757575;

@font-face {
  font-family: 'montserratbold';
  src: url('../assets/fonts/montserrat-bold-webfont.eot');
  src: url('../assets/fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/montserrat-bold-webfont.woff') format('woff'), url('../assets/fonts/montserrat-bold-webfont.ttf') format('truetype'), url('../assets/fonts/montserrat-bold-webfont.svg?v=1#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Ugly chrome font rendering fix: this font face inherits and overrides the previous font face, but only for chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'montserratbold';
    src: url('../assets/fonts/montserrat-bold-webfont.svg?v=1#montserratbold') format('svg'); }
 }

@font-face {
  font-family: 'montserratregular';
  src: url('../assets/fonts/montserrat-regular-webfont.eot');
  src: url('../assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/montserrat-regular-webfont.woff') format('woff'), url('../assets/fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../assets/fonts/montserrat-regular-webfont.svg?v=1#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Ugly chrome font rendering fix: this font face inherits and overrides the previous font face, but only for chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'montserratregular';
    src: url('../assets/fonts/montserrat-regular-webfont.svg?v=1#montserratregular') format('svg'); }
 }

@font-face {
  font-family: 'sanchezitalic';
  src: url('../assets/fonts/Sanchez-italic-webfont.eot');
  src: url('../assets/fonts/Sanchez-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Sanchez-italic-webfont.woff') format('woff'), url('../assets/fonts/Sanchez-italic-webfont.ttf') format('truetype'), url('../assets/fonts/Sanchez-italic-webfont.svg?v=1#sanchezitalic') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sanchezregular';
  src: url('../assets/fonts/Sanchez-Regular-webfont.eot');
  src: url('../assets/fonts/Sanchez-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Sanchez-Regular-webfont.woff') format('woff'), url('../assets/fonts/Sanchez-Regular-webfont.ttf') format('truetype'), url('../assets/fonts/Sanchez-Regular-webfont.svg?v=1#sanchezregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "iconfonts";
  src: url("../assets/fonts/untitled-font-1.eot");
  src: url("../assets/fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/untitled-font-1.woff") format("woff"), url("../assets/fonts/untitled-font-1.ttf") format("truetype"), url("../assets/fonts/untitled-font-1.svg?v=1#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This font face inherits and overrides the previous font face, but only for chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'iconfonts';
    src: url("../assets/fonts/untitled-font-1.svg?v=1#untitled-font-1") format("svg"); }
 }

/* ===============================
     sizes
   =============================== */
$large: 28px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

