<!-- left column -->
<div class="grid_4 about column boxsizing">
    <!-- gravatar -->
    <img src="assets/images/me-200x200.png" alt="me" class="portrait">

    <h1 class="text-center">Jozef Butko</h1>
    <h3 class="text-center">A front-end web developer</h3>

    <!-- info -->
    <ul>
        <li><i class="icon-location icon"></i><a href="https://maps.google.com/maps?q=galanta" target="_blank">Galanta, Slovakia</a></li>
        <li><i class="icon-ink-pen-streamline icon"></i><a href="mailto:jbutko@gmail.com">jbutko@gmail.com</a></li>
        <!-- <li><i class="icon-heart icon"></i>Married</li> -->
        <li><i class="icon-github-alt icon social"></i><a target="_blank" href="http://github.com/jbutko">github.com/jbutko</a></li>
        <li><i class="icon-github-alt icon social"></i><a target="_blank" href="https://gist.github.com/jbutko">gist.github.com/jbutko</a></li>
        <li><i class="icon-linkedin icon social"></i><a target="_blank" href="http://sk.linkedin.com/pub/jozef-butko/92/144/505/">sk.linkedin.com</a></li>
        <li><i class="icon-skype icon social inline-block"></i><a href="skype:doddiblog?call">doddiblog</a></li>
        <li><i class="icon-twitter-alt icon social"></i><a target="_blank" href="https://twitter.com/jozefbutko">@jozefbutko</a></li>
    </ul>


    <!-- about -->
    <h2>About</h2>
    <p class="text-justify">
        A dedicated front-end web developer with love for AngularJS, JavaScript, SASS and a few more cutting edge technologies. Know a thing or two about development/deployment automatization with Gulp/Grunt, Git version control or how to unit test my code.
    </p>


    <!-- blogs -->
    <div class="blogs clearfix">
        <h2 class="grid_50 boxsizing blogsh2">Blogs</h2>
        <h2 class="boxsizing flright visitors">Visitors</h2>

        <div class="grid_50 boxsizing">
            <a target="_blank" href="http://jozefbutko.com/blog">jozefbutko.com/blog</a>
        </div>

        <div class="grid_50 boxsizing text-right">200</div>

        <div class="grid_50 boxsizing">
            <a target="_blank" href="http://doddiblog.com">doddiblog.com</a>
        </div>

        <div class="grid_50 boxsizing text-right">100-250</div>
    </div>


    <!-- featured links -->
    <div class="featured">
        <h2 class="grid_50 boxsizing">Featured</h2>
        <h2 class="boxsizing flright">Month</h2>
        <div class="clear"></div>

        <div data-ng-repeat="feature in home.portfolioItems.featured">
            <div class="grid_50 boxsizing reference">
                <!-- <span class="tooltip">{{ feature.titleAttr }}</span> -->
                <a target="_blank" href="{{ feature.link }}" title="{{ feature.titleAttr }}">{{ feature.title }}</a>
            </div>

            <div class="grid_50 boxsizing text-right">{{ feature.month }}</div>
            <br>
        </div>
    </div>

</div>

<!-- right column -->
<!-- work -->
<div class="grid_8 column boxsizing work">
    <h2>Professional Experience</h2>

    <div data-ng-repeat="job in home.portfolioItems.jobs | orderBy:'id':true ">
        <h3 class="inline-block">{{ job.position }}, {{ job.employer }}</h3>

        <span class="flright btn">{{ job.jobDate }}</span>
        <p class="text-justify">{{ job.description }}</p>
    </div>
</div>

<!-- education -->
<div class="grid_8 column boxsizing education">
    <h2>Education</h2>

    <h3 class="inline-block">Faculty of Electrical Engineering and Information Technology, Bratislava</h3>

    <span class="flright btn">2003 - 2010</span>
    <p>Master's Degree at Institute of Telecommunications</p>
</div>


<!-- skills & experiences -->
<div class="grid_8 column boxsizing skills">
    <h2>Skills <span class="amp">&amp;</span> Experiences</h2>

    <ul>
        <!-- <li class="{{ skill.class }}" title="{{ skill.titleAttr }}" data-ng-repeat="skill in home.portfolioItems.skills">&#8226; {{ skill.title }}</li> -->
        <li class="{{ skill.class }}" title="{{ skill.titleAttr }}" data-ng-repeat="skill in home.portfolioItems.skills">&#8226; {{ skill.title }} <a ng-href="{{ skill.example.link }}" title="{{ skill.example.title }}" target="_blank" data-ng-if="skill.example.link"><span class="ion-link"></span></a></li>
    </ul>
</div>

<!-- toolkit -->
<!-- <div class="grid_4 column boxsizing">
    <h2>Toolkit</h2>

    <ul>
        <li class="{{ tool.class }}" title="{{ tool.titleAttr }}" data-ng-repeat="tool in home.portfolioItems.tools">&#8226; {{ tool.title }}</li>
        <li>&#8226; <a target="_blank" href="http://lab.maltewassermann.com/viewport-resizer/">Viewport Resizer</a></li>
    </ul>
</div> -->

<!-- misc -->
<div class="misc">
    <div class="grid_8 column boxsizing misc-info">
        <h2>Misc</h2>

        <div class="grid_50 boxsizing">Years of Experience</div><!--
     --><div class="grid_50 boxsizing text-right">{{ home.careerYears.years }} {{ home.careerYears.yearsWord }} and {{ home.careerYears.months }} months</div><br><!--

     --><div class="grid_50 boxsizing">Preferred System</div><!--
     --><div class="grid_50 boxsizing text-right">Win</div><br><!--
     --><div class="grid_50 boxsizing">English</div><!--
     --><div class="grid_50 boxsizing text-right"><i class="icon-circle icon"></i><i class="icon-circle icon"></i><i class="icon-circle icon"></i><i class="icon-circle icon"></i><i class="icon-circle-line icon last"></i></div><br>
    </div>
</div>