/******************************************************************

1030px and up

******************************************************************/

/*********************
CONTAINER
*********************/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 996px;
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	display: block;
	top: -41px;
	right: -1px;
	overflow: hidden;
	text-align: right;
	background-color: transparent;

	li {
		a {
			border-right: 1px solid rgb(252, 252, 217);
		}

		&:last-child {
			border-right: none;

			a {
				border-right: none;
			}
		}
	}
}


/*********************
RESPONSIVE NAV
*********************/

.hamburger {
	display: none;
}

.responsive-nav {
	display: none;
}


/*********************
PORTFOLIO
*********************/

.info {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  padding: 10px 15px 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  text-align: center;
  display: block;

  h3,
  h4 {
    color: #E5DFCD;
    white-space: pre-line;
  }
}