/******************************************************************

768px and up

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $font;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.container {
	width: 760px;
}

.body-wrapper {
  margin-top: 80px;
}

/*********************
HEADER STYLES
*********************/

.header {

	a {
		font-weight: $bold;
	}
}

#logo {
	margin: 0;
	line-height: 1;
}

/*********************
NAVIGATION STYLES
*********************/

.nav {
	border: 0;

	ul {
		background:$black;
		margin-top:0;
	}

	li {
		position: relative;

		a {
			border-bottom: 0;

			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}
}


/*********************
BLOG
*********************/

.blog {
	padding: 0 25px;
	margin: 0 13px;
}

/*********************
WORK SECTION
*********************/

.ion-plane {
  position: absolute;
  right: 0;
  text-align: none;
  top: 25px;
  width: 100%;
  width: auto;
}

