/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #757575;
	font-family: $font, arial, serif;
	font-size: 0.85em;
	line-height: 1.6;
	height: 100%;
	// padding-top: 80px;
}

html {
	height: auto;
	font-size: 1em;
	min-height: 100%;
	line-height: 1.6;
	background: #E5DFCD url('../assets/images/concrete-wall.png');
	-webkit-box-shadow: inset 20px -60px 250px 60px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 20px -60px 250px 60px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: inset 20px -60px 250px 60px rgba(0, 0, 0, 0.1);
	-o-box-shadow: inset 20px -60px 250px 60px rgba(0, 0, 0, 0.1);
	box-shadow: inset 20px -60px 250px 60px rgba(0, 0, 0, 0.1);
	overflow-y: scroll;
}

.ngViewContainer {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 3.2;
}

html,
button,
input,
select,
textarea {
  color: #222;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 3em 10%;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

img {
  width: 100%;
}
/* Remove dotted outline on firefox inputs */

input::-moz-focus-inner {
  border: 0;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	cursor: pointer !important;
	font-family: sanchezitalic, helvetica, arial, serif;
	font-weight: 500;
	text-decoration: none;

	/* on click */
	&:hover {
		border-bottom: 1px dashed #4B494C;
	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

  &.btn {
    color: #FCFCD9;
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4 {
  color: #7A7373;
  font-family: montserratregular, arial, serif;
  /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);*/
}

h1 {
  font-family: $font-heading, Georgia, 'Times New Roman', serif;
  font-weight: 400;
}

/* H1 subheading */
.description {
  font-size: 1.1em;
}

h2 {
  font-family: $font-heading, Georgia, 'Times New Roman', serif;
  font-weight: normal;
  display: block;
}

h3 {
  font-family: montserratregular, Georgia, 'Times New Roman', serif;
  font-weight: 400;
}


/*********************
BUTTONS
*********************/

.btn:hover,
.tag a:hover {
  border-bottom: none;
  // padding-bottom: 6px;
}


/*********************
BODY
*********************/

.body-wrapper,
.portfolio-wrapper {
  background: #FCFCD9;
  box-shadow: 0 1px 0 0 #6D6D6D;
}

.body-wrapper {
  margin-top: 20px;
}

.column {
  padding: 0 25px;
  position: relative;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  z-index: 159000;

  img {
    width: auto;
  }
}


/*********************
ABOUT ME
*********************/

.portrait {
  margin: 0 auto;
  width: 200px;
  display: block;
}

/*********************
WORK SECTION
*********************/

.work {

  .flright {
    position: relative;
    top: 11px;
  }

  h2 {
    margin-top: 0;
  }
}

.education {

  .btn {
    top: 7px;
    position: relative;
  }
}

.skills {

  a {
    border-bottom: none;
  }
}

.ion-link {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: 2px;
  left: 5px;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}

.ion-plane {
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

/*********************
PORTFOLIO SECTION
*********************/

.tag {
  margin-right: 9px;
  display: inline-block;
}

/* 5 portfolio thumbnails side by side */
.grid_portfolio {
  width: 20%;
  margin: 0;
  padding: 0;
}

.portfolio-item {

	img {
	  width: 100%;
	  height: auto;
	}
}

.mix {
  /* 3D HW animation acceleration */

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  position: relative;
  overflow: hidden;
  display: block;
  float: left;

  a {

    &:hover {
      border-bottom: none;
      padding-bottom: 0;

      .info {
        opacity: 1;
      }
    }
  }
}

img {
  width: 100%;
}

.portfolio-info-wrapper {
  margin-top: 5px;
}

/*********************
PORTFOLIO DESCRIPTION
*********************/

/* Left column */
.portfolio-info-left {
  width: 71%;
  float: left;
  padding-right: 3%;

  a {
    border-bottom: 1px solid rgb(75, 73, 76);

    &:hover {
      border-bottom: 1px dashed rgb(75, 73, 76);
    }
  }
}

/* Right column */
.portfolio-info-right {
  width: 25%;
  display: inline-block;
  margin: 0;
  position: relative;
  top: -1px;

  .tag {
    margin-right: 3px;
  }
}


/*********************
FILTER
*********************/

.filter {

	padding: 6px;

	&:hover,
	&.active {
		background: #8D8D88;
	}
}

.portfolio-wrapper {
  top: 17px;
  left: 0;
  box-shadow: none;
  padding: 0 0 27px 0;
}

.tags {
  font-size: 0.95em;
  margin: 24px 0;
}

.transform {
  transform: translate(-50%, -50%) translate3d(0px, 0px, 100px);
}

/*********************
PORTFOLIO GRID IMAGES
*********************/

.mix {

	a {
		display: inline-block;
		overflow: initial;

		&:hover {
			opacity: 1;
		}

    // img {
    //   min-width: 208px;
    // }
	}
}

/* portfolio image hover info box styling */
.info {
  display: none;
}

.lambda {

  .container {
    padding: 0;
  }
}

#buyoncm53178 {

	a {

		&:hover {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
}

/* GALLERY IMAGES */
/* Hide gallery on window load - images lazy load */
.gallery {

  .grid_50 {
    margin: 0 1px 1px 0;
    width: 48%;
    float: left;
  }

  a {
    overflow: hidden;
    max-height: 100px;
    display: table-row;

    &:hover {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  img {
    border: 1px solid #9C9C9C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
  }

  .miavydavatelstvo {

  	li {

  		&.grid_50 {
  	    max-height: 100px;
  	    overflow: hidden;
  	    border-bottom: 1px solid #999;
  	  }
  	}
  }
}

/*********************
FOOTER
*********************/

.footer {

	&.container {
		padding: 0;
	}
}

.copyright {
  padding: 40px 0;

  .heart {
  	color: rgb(213, 133, 133);
  	font-size: 25px;
  	position: relative;
  	top: 2px;
  }
}

footer {

  &.container {
    padding: 0;
  }
}


/*********************
CROSS-BROWSER HACKS
*********************/

/* Chrome and Webkit hacks */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .resume {
    top: -125px;
  }
}

/* Safari Hacks: oh my dear beloved safari browser */
.safari .mix a {
  overflow: inherit;
}

.safari .portfolio-info-right {
  position: static;
}

/* IE Hacks */
.lt-ie9 .gallery img {
  vertical-align: middle;
}

.lt-ie9 .miavydavatelstvo li.grid_50 {
  height: 100px;
  display: inline;
}

@media only screen and (max-width: 479px) {
  .safari .mix a {
    max-height: 130px;
    max-width: 130px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
  .safari .mix a {
    max-height: 140px;
    max-width: 140px;
  }
}

/*********************
BLOGS
*********************/

.blogs {

	div {
		float: left;
		width: 50%;
	}
}

.featured {

  // .reference {

  //   position: relative;
  // }

  // a[title]:hover:after {
  //   transition: all 0.2s ease;
  //   content: attr(title);
  //   background-color: rgb(220, 220, 220);
  //   box-shadow: 1px 1px 2px rgb(146, 146, 146);
  //   color: rgb(86, 80, 80);
  //   left: 1px;
  //   padding: 4px 8px;
  //   position: absolute;
  //   top: -107%;
  //   white-space: nowrap;
  //   z-index: 10;
  // }
}

/*********************
RESPONSIVNES
*********************/

@media only screen and (max-width: 479px) {
  /* Blogs links */
  .container {
    padding: 50px 0;
  }

  .grid_4 {
    box-sizing: content-box;
  }

  .blogs div {
    float: left;
    width: 50%;
  }

  .safari #Container .mix {
    max-height: 130px;
  }
}

@media only screen and (max-width: 767px) {
  /* Latests works button on responsive - make it 100% wide */
  /* About Me */
  /* Misc Section */
  .latest-works {
    width: 100%;
    text-align: center;
    box-sizing: border-box !important;
  }

  .grid_portfolio {
    width: 50%;
  }

  body {
    padding-top: 0;
  }

  .resume {
    display: none;
  }

  .boxsizing {
    box-sizing: content-box;
  }

  .work h2 {
    margin-top: 1.5em;
  }

  .portfolio-info-left {
    width: 100%;
  }

  .portfolio-info-right {
    width: 100%;
  }

  .gallery .grid_50 {
    width: auto;
  }

  .portrait {
    margin: 14px auto 2px auto;
  }

  .misc .grid_50 {
    width: 50%;
  }

  .portfolio-info-right ul {
    margin-top: 0;
  }

  .safari .mix a {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Button on responsive - make it 100% wide */
  /* Latests work button */
  .body-wrapper {
    padding: 50px 10px;
  }

  .latest-works {
    width: 100%;
    text-align: center;
  }

  .safari #Container .mix {
    max-height: 208px;
  }

  .mix {

    a {
      img {
        min-width: 208px;
      }
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 995px) {
  .body-wrapper {
    padding: 50px 10px;
  }

  .featured div {
    width: 100%;
    text-align: left;
  }

  .blogsh2 {
    float: left;
  }

  .visitors {
    float: right;
  }

  .misc .grid_8 {
    width: 100%;
  }

  .container .grid_4,
  .container .grid_8 {
    width: 100%;
  }

  .container .grid_12 {
    box-sizing: border-box;
    padding: 0 20px;
  }

  .portrait {
    margin: 50px auto 20px;
  }

  .blog {
    padding-top: 50px !important;
  }

  footer.container .grid_12 {
    padding: 40px 0;
  }

  .safari .mix a {
    width: 100%;
  }

  .safari #Container .mix {
    max-height: 140px;
  }
}


@media only screen and (max-width: 995px) {
  /* Button on responsive - make it 100% wide */
  .grid_8 .btn {
    display: block;
    position: relative;
    top: 0;
  }

  .grid_8 .work .flright {
    position: relative;
    top: 0;
  }

  .grid_8 .flright {
    float: none !important;
  }

  .container.portfolio-wrapper,
  .container.portfolio-info {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .container.portfolio-wrapper .grid_12 {
    padding: 0 25px;
    box-sizing: border-box;
  }

  .body-wrapper {
    padding: 50px 10px;
  }
}

@media only screen and (min-width: 996px) {
  /* Misc Section */
  .misc .grid_50 {
    width: 50%;
  }

  .latest-works {
    top: -34px;
  }

  .safari .mix a {
    height: 184px;
    width: 100%;
  }

  .safari #Container .mix {
    max-height: 184px;
  }

  // .misc-info {
  //   float: right;
  // }
}


@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { }



/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
}

#inner-header {
	width: 100%;
	padding: 0 50px;
	text-align: center;

	a {
		font-size: $small;
		color: $black;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		margin-right: 50px;
		line-height: 50px;

		&:last-child {
			margin-right: 0;
		}
	}
}

#logo {
	margin: 0.75em 0;
	display: none;

	a {
		color: $white;
	}
}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {
	border-bottom: 0;
	margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(117, 117, 117);
  left: 0;

	li {

    display: inline-block;

		a {
			color: $white;
			text-decoration: none;
      padding: 0.75em;
		}
	}
}


/*********************
RESUME
*********************/

.resume {
  color: #FCFCD9;
  display: block;
  font-family: $font-heading, Helvetica, Arial, sans-serif;
  font-size: 5em;
  left: -2px;
  letter-spacing: -2px;
  position: absolute;
  text-align: center;
  top: -130px;
  width: 100%;
  z-index: -2;
}


/*********************
BLOG
*********************/

.blog {

  padding: 20px 20px 0 20px;
  margin: 0;

  .blog-content {

    a {
      font-weight: bold;
    }
  }

  pre {
    color: rgb(68, 45, 45);
    background-color: rgb(230, 230, 213);
    padding: 20px;
  }

  h2 {
    margin-bottom: 0;
  }

  .byline-text {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }
}

.blog-divider {
  display: block;
  width: 100%;
  margin: 40px 0;
  font-size: 40px;
}


/*********************
RESPONSIVE NAV
*********************/

.hamburger {

	&:hover,
	&:focus {
		text-decoration: none;
	}

	&:before {
		content:'\2261';
		font-size: 24px;
		font-weight: bold;
		color: #555;
	}
}

.responsive-wrapper {

	display: none;

	a {
		display: block;
		width: 100%;
		line-height: 2;
		text-align: center;
		background: #fff;
		color: $text-color;
	}
}

/*********************
PRINT STYLES
*********************/

@media print {
  /*
	 * Don't show links for images, or javascript/internal links
	 */

  @page {
    margin: 0.5cm;
  }

  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */

    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
