<!-- left column -->
<div class="blog">
     <span>
         <img data-ng-src="{{ blog.postDetail.featured_image.attachment_meta.sizes['portfolio-image'].url }}" alt="{{ blog.postDetail.featured_image.title }}">
     </span>

     <h2>{{ ::blog.postDetail.title }}</h2>

     <div class="byline vcard">
        <span class="ion-ios-lightbulb-outline byline-icon"></span><p class="byline-text">{{ ::blog.postDetail.author.name }}</p>
        <span class="ion-ios-alarm-outline byline-icon"></span><time class="byline-text updated" datetime="2014-02-09">{{ ::blog.postDetail.date | date:'dd/MMM/yyyy' }}</time>

        <span class="ion-ios-pricetags-outline byline-icon"></span>
        <span data-ng-repeat="tag in blog.postDetail.terms.category">
            <!-- <span class="blog-category"><a href="blog/category/{{ tag.slug }}" title="View all posts in {{ tag.name }}" rel="category tag" class="byline-text">{{ tag.name }}</a></span> -->
            <span class="blog-category byline-text">{{ tag.name }}</span>
        </span>

        <!-- <span class="ion-ios-chatboxes-outline byline-icon"></span><p class="byline-text">2 responses</p> -->
    </div>

    <div class="blog-content" ng-bind-html="blog.postDetail.content | unsafe" magnific-popup magnific-blog="true">
    </div>
</div>