<!-- left column -->
<div class="blog">
    <div data-ng-repeat="post in blog.blogPosts track by post.ID">

         <span>
             <img data-ng-src="{{ post.featured_image.attachment_meta.sizes['portfolio-image'].url }}" alt="{{ post.featured_image.title }}">
         </span>

         <a href="/blog/{{ blog.slugs[$index] }}"><h2>{{ ::post.title }}</h2></a>

         <div class="byline vcard">
            <span class="ion-ios-lightbulb-outline byline-icon"></span><p class="byline-text">{{ ::post.author.name }}</p>
            <span class="ion-ios-alarm-outline byline-icon"></span><time class="byline-text updated" datetime="2014-02-09">{{ ::post.date | date:'dd/MMM/yyyy' }}</time>

            <span class="ion-ios-pricetags-outline byline-icon"></span>
            <span data-ng-repeat="tag in post.terms.category">
                <!-- <span class="blog-category"><a href="{{ tag.link }}" title="View all posts in {{ tag.name }}" rel="category tag" class="byline-text">{{ tag.name }}</a></span> -->
                <span class="blog-category byline-text">{{ tag.name }}</span>
            </span>
        </div>

        <div class="blog-content" ng-bind-html="post.excerpt | unsafe" magnific-popup magnific-blog="true">
        </div>

        <span class="text-center blog-divider" data-ng-if="!$last">&lowast;</span>

    </div>
</div>