/******************************************************************

Buttons

******************************************************************/

/* Button */
a {

	&.btn {
	  background: #757575;
	  padding: 6px 10px;
	}
}

